.about {
    background-color:#1D1C1C;
    color: white;
    position: relative;
    padding-bottom: 6em;
    padding-top: 6em;
}
.about-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    text-align: right;
    flex-direction: row-reverse;
    /* flex-direction:; */
}

.about-container div{
    /* width: 50%; */
    /* padding: 0em 1em; */
}

.about-technical-skills{
    padding: 0.5em 3em 0.5em 0.5em;
    width: 50%;
}

.about-pic {
    display: flex;
    height: 20em;
    width: 20em;
    object-fit: contain;
    /* width: 40%; */
    /* margin: auto 0; */
    /* overflow: hidden; */
}

.about-me p{
    margin: 2em 0em 0em 2em;    
}

.about-me{
    position: absolute;
    margin: 0;
    left: 9em;
    background: #000;
    width: 20rem;
    bottom: 18em;
    padding: 4em 3em 8em 3em;
}

.technical-skills{
    display: flex;
    justify-content: space-between;
}

.technical-skills-images{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.technical-skills img{
    width: 3rem;
    height: 2rem;
    padding: 0.5em;
}

#small-img img{
    width: 2rem;
    height: 2rem;
}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
    .about{
    background-color: none;
        padding: 0em;
    }
    .about-container{
        flex-direction: column-reverse;
        width: 100%;
        text-align: center;
    }
	.about-me{
        position: static;
        width: auto;
        padding: 6em 3em 6em 3em;
    }

    .about-me p{
        margin: 0em;    
    }

    .about-technical-skills{
        padding:  2em 3em 4em 3em;
        width: auto;
    }

    .technical-skills{
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
}