.about {
    background-color:rgb(53, 53, 53);
    color: white;
    /* margin: 1em 0em; */
    /* height: 20em; */
}
.about-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    text-align: right;
    flex-direction: row-reverse;
    /* flex-direction:; */
}

.about-container div{
    /* width: 50%; */
    /* padding: 0em 1em; */
}

.about-text{
    padding: 1em;
}

.about-pic {
    display: flex;
    height: 20em;
    width: 20em;
    object-fit: contain;
    /* width: 40%; */
    /* margin: auto 0; */
    /* overflow: hidden; */
}

.about p {
    letter-spacing: 0.02em;
    font-size: larger;
}

p{
    text-align: justify;
}
