.contact  {
    text-align: center;
    font-size: 20px;
    margin-top: 100px;
} 

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
  }
  
  .info-container p {
    font-size: larger;
  }

  .contact .upper-container {
    width: 500px;
  }

  .contact .info-container:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    .contact .upper-container {
        width: 250px;
        flex-direction: column;
      }
  }

