.contact  {
    text-align: center;
    font-size: 1.25em;
    width: 50%;
    margin: 0em 2em;
    position: relative;
    bottom: 42em;
    top: 2em;
} 

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 0.5rem; */
    margin: 1rem;
  }
  
  .info-container p {
    font-size: larger;
  }

  .contact .upper-container {
    width: 70%;
  }

  .contact .info-container:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    .contact{
      position: static;
      margin: auto;
      width: auto;
    }

    .contact .upper-container {
        width: 80%;
        flex-direction: column;
      }
  }

