.contact  {
    text-align: center;
    font-size: 1rem;
    max-width: 40%;
    margin: 0rem 9rem;
    position: relative;
    bottom: 42rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} 

.info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
  }
  
  .info-container p {
    font-size: larger;
  }

  .contact .upper-container {
    /* max-width: 70%; */
    /* align-self: flex-start; */
  }

  .contact .info-container:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    cursor: pointer;
  }

  @media only screen and (max-width: 600px) {
    .contact{
      position: static;
      margin: auto;
      /* width: auto; */
      max-width: 100%;
      align-items: center;
    }

    .contact .upper-container {
        width: 80%;
        flex-direction: column;
      }
  }

