.footer {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    margin-top: 200px;
  }

  .footer a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
  }
  
  .footer a {
    color: black;
    text-decoration: none;
    margin: 20px;
    font-size: 30px;
  }

  .footer p {
    font-size: 18px;
  }
  
  .footer { 
    background-color: #ffffff; 
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.1);
  }
  
  @media only screen and (max-width: 600px) {
    .footer svg {
      font-size: 50px;
    }
  }