@font-face {
  font-family: 'Teko-SemiBold';
  src: local('Teko-SemiBold'),url('../assets/fonts/Teko-SemiBold.ttf') format('truetype');
}

.navbar {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: transparent;
  transition: background-color 0.3s ease;
  z-index: 1000; 
  position: sticky;
  top: 0;
}

ul {
  list-style: none;
  display: flex;
  color: black;
}

li {
  cursor: pointer;
}

.logo {
  font-family: 'Teko-SemiBold',sans-serif;
  font-size: 2rem;
}

.links {
  gap: 2rem;
}

.navbar a {
  color: black;
  text-decoration: none;
  margin: 20px;
  font-size: 25px;
}

.navbar.active { 
  /* background: linear-gradient(90deg,rgb(0,0,0)0%, rgb(60, 58, 63)50%, rgb(0, 0, 0)100%); */
  background-color: #ffffff; /* Change to your desired background color when sticky */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.toggleButton {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.toggleButton svg {
  font-size: 50px;
}
.toggleButton button {
  margin-right: 20px;
  background-color: black;
  border: none;
  color: white;
  cursor: pointer;
}

#open {
  height: 100vh;
}

#open .links {
  display: flex ;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 100px;
}

#open a {
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .navbar a {
    width: 70px;
  }
}

@media only screen and (max-width: 600px) {
  .toggleButton {
    display: flex;
    justify-content: space-between;
  }

  .sm-logo {
    margin-left: 20px;
    font-size: 2rem;
    font-family: 'Teko-SemiBold',sans-serif;
  }

  #close .links a {
    display: none;
  }

  .logo {
    display: none;
  }

  .links {
    display: none;
  }
  
}

@media only screen and (min-width: 600px) {
  .toggleButton {
    display: none;
  }

  .sm-logo {
    display: none;
  }

  .hiddenLinks {
    display: none;
  }

  #open {
    height: 100px;
  }

  #open .links {
    display: flex;
    flex-direction: row;
  }
}