.profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
    flex-direction: space-around;
}

.profile-pic {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
    overflow: hidden;
    border-radius: 50%;
}

.profile-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    text-align: center;
}

.profile p {
    font-size: 1.25rem;
    margin: auto 0;
}

.profile h1 {
    margin: 5px;
}

.profile .btn-contaier {
    display: flex;
    margin: 1em 0;
    justify-content: space-evenly;
}