.profile {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
    height: 80vh;
    flex-direction: row-reverse;
    padding: 0 0 10em 0;
    background-color: #efeaea ;
}

.profile-pic {
    display: flex;
    height: 27em;
    width: 23em;
    position: absolute;
    margin-left: -7em;
    margin-top: 3.7em;
}

.profile-bg {
    position: relative;
    background: #1D1C1C;
    margin-top: 4em;
    width: 27em;
    height: 27em;
}
.profile-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-self: center;
    text-align: center;
    margin-top: 4em;
}

.profile-text {
    text-align: left;
}

.profile p {
    font-size: 1.25rem;
    margin: auto 0;
    font-weight: bold;
}

.profile h1 {
margin: 0px;
}

.profile .btn-contaier {
    display: flex;
    justify-content: space-between;
    margin: 1em 0em 1em 1em;
    width: 16rem;
}

.profile-text {
    display: inline-block;
    white-space: nowrap; /* Keeps the content on a single line */
    margin-left: 1em; /* Gives that scrolling effect as the typing happens */
}

.profile-text h1{
    overflow: hidden;
    animation:
        typing 3.5s steps(40, end) infinite alternate;
    animation-fill-mode: forwards;
}

/* The typing effect */
@keyframes typing {
    0% { width: 0; }
    100% { 
        width: 93%; 
    }
}

@media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
}
@media only screen and (max-width: 600px){
	.profile{
        display: flex;
        flex-direction: column;
        height: auto;
        padding-bottom: 5em;
    }

    .profile-bg{
        background-color: unset;
        width: auto;
        height: unset;
    }

    .profile-pic{
        position: static;
        margin-left: 0em;
        width: auto;
    }

    .profile-pic img{
        max-width: 100%;
        height: auto;
    }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
}