@font-face {
  font-family: 'Teko';
  src: local('Teko'),url('./assets/fonts/Teko.ttf') format('truetype');
}

.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: 'Teko', sans-serif;
  background-color: white;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Teko-SemiBold',sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* TRANSITION */
a, .btn {
  transition: all 300ms ease;
}

.upper-container {
  display: flex;
  /* justify-content: center; */
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  margin: 2rem auto;
  padding: 0.5rem;
  justify-content: space-around;
  
}
